.App {
  margin-top: 20%;
  animation-name: animate-splash-title;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.64, 0.18, 0, 1);
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

.App-content {
  opacity: 0;
  animation-name: animate-splash-content;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.App-title {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

@keyframes animate-splash-title {
  to {
    margin-top: 30px;
  }
}

@keyframes animate-splash-content {
  to {
    opacity: 1;
  }
}
