.Splash {
  margin-top: 20%;
  animation-name: animate-splash;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.64, 0.18, 0, 1);
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes animate-splash {
  to {
    margin-top: 30px;
  }
}
