.EmailInput {
  display: block;
  margin: 30px auto;
  width: 300px;
}

.EmailInput input {
  border: none;
  box-sizing: border-box;
  padding: 5px 20px;
  text-align: center;
  width: 100%;
}

.EmailInput input:focus {
  outline: 0;
}

.EmailInput hr {
  border: 0;
  transform: translateY(-10px);
  transition: all 500ms ease-in-out;
  width: 100%;
}

.EmailInput input:hover + hr,
.EmailInput input:focus + hr {
  transform: translateY(0);
  border-bottom: 2px solid black;
}

.EmailInput input::placeholder {
  text-align: center;
}
